@import './mixin';



body {
    font-size: 10px;
    background-color: #FFf;
    font-family: "ヒラギノ角ゴ ProN";
    font-family: "Hiragino Sans";
    font-weight: 300;
    // color: #3C3C3C;
    @include pc {
        background-color: #000;
        background: url(../img/bg_pc.jpg) no-repeat;
        background-size: 100%;
        padding-top: 50px;
        background-attachment: fixed;
    }
}

.wrapper {
    max-width: 390px;
    margin: 0 30% 0 60%;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    
}

.mincho {
    font-family: "ヒラギノ明朝 ProN", "HiraMinProN", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}


.img_300 {
    width: 300px;
}

.img_350 {
    width: 350px;
}

.img_242 {
    width: 242px;
}

.img_140 {
    width: 140px;
}


.wrapper {
    width: 390px;
    @include pc {
    }
}

main {
    .mv {
        background: url(../img/mv_bg.jpg) no-repeat;
        background-size: contain;
        background-position: center top;
        padding: 400px 0 40px;
        margin-bottom: 100px;
        background-color: #fff;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9000;
        animation: mv_load 2s forwards;
        animation-delay: 3s;

        @keyframes mv_load {
            0% {
                top: 0;
            }

            100% {
                top: -100%;
                display: none;
            }
        }

        .mv_area {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0px;

            h2 {
                font-size: 1.5em;
                margin: 0 0 25px;
            }

            h1 {
                font-size: 4.4em;
                font-weight: 300;
                line-height: 66px;
                text-align: center;

                span {
                    font-size: .9em;
                }

                margin: 0 0 35px;
            }

            p {
                letter-spacing: 4px;
            }
        }

        .loader {
            position: relative;
            text-align: center;
            font-size: 1.3em;
            letter-spacing: 4px;
            color: rgba(0, 0, 0, .5);
            position: absolute;
            top: calc(76% - 32px);
            left: calc(50% - 32px);
            width: 50px;
            height: 50px;
        }

        .loader div {
            position: absolute;
            top: 30px;
            left: 10px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-sizing: border-box;
            opacity: .8;
        }

        .one {
            border-top: 1px solid #189A9A;
            animation: rotate-left 1s linear infinite;
        }

        .two {
            border-right: 1px solid #96CBB7;
            animation: rotate-right 1s linear infinite;
        }

        .three {
            border-bottom: 1px solid #85D1E8;
            animation: rotate-right 1s linear infinite;
        }

        .four {
            border-left: 1px solid #0BA2D1;
            animation: rotate-right 1s linear infinite;
        }

        @keyframes rotate-left {
            0% {
                transform: rotate(360deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }

        @keyframes rotate-right {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    .nav_area {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 10px 10px 0 0;

        .kihon a {
            position: relative;
            display: block;
            text-align: center;
            font-size: 2.3em;
            letter-spacing: 2px;
            font-weight: 500;
            background-color: #83a4d4;
            background: linear-gradient(270deg, #83a4d4 0%, #b6fbff 100%);
            padding: 42px 0 42px;
            color: #fff;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, .2);
            margin: 0 0 30px;
            transition: .5s;
        }

        .kihon a::after {
            position: absolute;
            top: 0;
            left: 0;
            content: "基本の使い方";
            padding: 42px 0 42px;
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #83a4d4 0%, #b6fbff 100%);
            transition: .5s;
        }

        .kihon a:hover::after {
            opacity: 0;
            transition: .5s;
        }

        .kihon a::before {
            position: absolute;
            bottom: 20px;
            left: 47%;
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-bottom: #fff 2px solid;
            border-left: #fff 2px solid;
            transform: rotate(-45deg);
            z-index: 2000;
        }

        .type_list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            a {
                display: block;
                width: 50%;
            }

            li {
                position: relative;
                width: 100%;
                text-align: center;
                background-color: #b6fbff;
                font-size: 2.1em;
                font-weight: 500;
                line-height: 32px;
                padding: 174px 0 30px;
                color: #555555;
            }

            li::after {
                position: absolute;
                bottom: 15px;
                left: 47%;
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                border-bottom: #555555 2px solid;
                border-left: #555555 2px solid;
                transform: rotate(-45deg);
                transition: .3s;

            }

            li:hover::after {
                bottom: 10px;
                transition: .3s;
            }

            li.nachu {
                background: url(../img/li_nachu.jpg) no-repeat;
                background-size: 100%;
            }

            li.hade {
                background: url(../img/li_hade.jpg) no-repeat;
                background-size: 100%;
            }

            li.aimake {
                background: url(../img/li_aimake.jpg) no-repeat;
                background-size: 100%;
            }

            li.nayami {
                background: url(../img/li_nayami.jpg) no-repeat;
                background-size: 100%;
            }
        }

        .nakajima_btn {
            background: linear-gradient(90deg, #ECE9E6 0%, #FFFFFF 100%);
            padding: 50px 36px 20px;

            .txt_box {
                .sub {
                    font-size: 2em;
                    margin-bottom: 20px;
                }

                .main_ttl {
                    font-size: 3.2em;
                    line-height: 45px;
                    margin-bottom: 20px;

                    span {
                        font-size: 37px;
                    }
                }
            }

            .more_btn {
                position: relative;
                right: 15px;
                font-size: 1.4em;
                text-align: end;
                opacity: .5;
            }

            .more_btn::after {
                content: "";
                display: block;
                position: absolute;
                right: -12px;
                top: 4px;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid #000;
            }
        }
    }

    .kihon_area {
        padding: 100px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .ttl {
            display: inline-block;
            font-size: 4.5em;
            text-align: center;
            margin-bottom: 70px;
            background: -webkit-linear-gradient(0deg, #83A4D4 0%, #B6FBFF 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            filter: drop-shadow(0 6px 4px rgba(0, 0, 0, .1));

        }

        .content_box {
            background: linear-gradient(90deg, #E2EDFF 0%, #E8FDFF 100%);
            margin: 0 0 50px;
            border-radius: 0 30px 0 30px;
            padding: 30px 10px;

            .txt_box {
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 15px;
                margin-bottom: 15px;

                .step {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #fff;
                    border-radius: 50%;
                    padding: 10px 0 0;
                    width: 58px;
                    height: 58px;

                    span {
                        font-size: 2.5em;
                        font-weight: 200;
                    }
                }

                .txt {
                    font-size: 1.8em;
                    line-height: 27px;
                }
            }

            .img {
                margin-bottom: 60px;
            }

            .point_box {
                position: relative;
                font-size: 1.9em;
                line-height: 30px;
                text-align: center;
                background-color: #fff;
                padding: 30px 0;
                margin-left: 5px;

                .point {
                    content: "POINT";
                    display: block;
                    position: absolute;
                    top: -30px;
                    left: 5px;
                    width: 58px;
                    height: 58px;
                    border-radius: 50%;
                    background-color: #C8E4FF;
                    font-size: 10px;
                    padding: 14px 0 0;
                    z-index: 9000;
                }
            }

            .point_box::after {
                content: "";
                display: block;
                position: absolute;
                left: -5px;
                top: -5px;
                width: 345px;
                height: 120px;
                border: #000 1px solid;
                border-image: linear-gradient(90deg, #000 20%, #fff 20%, #fff 30%, #000 30%, #000 70%) 1/0 1 1 1;
            }

            .point_box::before {
                content: "";
                display: block;
                position: absolute;
                left: -5px;
                top: -5px;
                width: 345px;
                height: 120px;
                border: #000 1px solid;
                border-image: linear-gradient(90deg, #000 70%, #E7F8FF 70%, #E7F8FF 78%, #000 78%, #000 80%) 1/1 0 0;
            }
        }

        .mov_box {
            .txt {
                font-size: 2em;
                color: #333333;
                text-align: center;
                padding: 30px 0;
            }
        }

    }

    .type_area {
        width: 100%;
        padding: 110px 0px 0;

        .type_box {
            width: 390px;
            margin: 0 auto 120px;
            padding-top: 30px;

            .ttl {
                display: inline-block;
                font-size: 2.8em;
                font-weight: 400;
                letter-spacing: 0.05em;
                background: linear-gradient(transparent 77%, #B5DBCD 20%);
                margin-bottom: 50px;
                margin-left: 20px;
                padding-bottom: 2px;
            }

            .img {
                width: 300px;
                margin: 0 auto;
            }

            .main_txt {
                position: relative;
                font-size: 2.1em;
                line-height: 32px;
                background-color: #555555;
                margin-bottom: 50px;
                padding: 20px;
                background: linear-gradient(90deg, #C1E0D4 0%, #fff 100%);

                span {
                    font-weight: 500;
                    color: #189A9A;
                }
            }

            .main_txt::before {
                content: "";
                display: block;
                position: absolute;
                top: -50px;
                left: 0;
                width: 100%;
                height: 50px;
                background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 100%);
            }

            .shiyou_box {
                margin: 0 20px 50px;

                .shiyou_ttl {
                    font-size: 1.2em;
                    margin: 0 0 5px;
                }

                .shiyou_txt_box {
                    font-size: 1.4em;
                    line-height: 22px;
                    background-color: #E3F8F0;
                    padding: 15px;
                    text-align: justify;
                }
            }

            .bg_area {
                padding: 0 20px 30px;
                background-color: #fff;
                background-image:
                    linear-gradient(-90deg, #DCECE6 5%, transparent 5%),
                    linear-gradient(0deg, #DCECE6 5%, transparent 5%);
                background-size: 10px 10px;
            }

            .sub_txt_box {
                .tekiryo {
                    font-size: 1.6em;
                    color: #fff;
                    font-weight: 200;
                    display: inline-block;
                    padding: 10px 15px;
                    background-color: #96CBB7;
                    margin: 0 0 15px;
                }

                .sub_txt {
                    font-size: 1.8em;
                    line-height: 32px;
                    text-align: justify;
                    margin: 0 0 40px;

                    span {
                        font-weight: 500;
                        color: #189A9A;
                    }
                }
            }

            .zu {
                margin: 0 0 40px;
            }

            .check_txt_area {
                .check_ttl {
                    font-size: 1.4em;
                    color: #189A9A;
                    margin: 0 0 10px;
                }

                .txt_box {
                    font-size: 1.8em;
                    line-height: 28px;
                    background-color: #E3F8F0;
                    border: #189A9A 1px solid;
                    padding: 25px 18px;

                    span {
                        font-weight: 500;
                        background: linear-gradient(transparent 60%, #FBEE79 30%);
                    }
                }
            }

            .use_area {
                .use_ttl {
                    font-size: 1.4em;
                    color: #E85968;
                    margin: 0 0 25px;
                }

                .use_list {
                    display: flex;
                    flex-direction: column;
                    row-gap: 35px;
                    margin-bottom: 40px;

                    .list_box {
                        position: relative;
                        background-color: #FFDADE;
                        border: #E85968 1px solid;
                        font-size: 1.8em;
                        text-align: justify;
                        line-height: 28px;
                        padding: 20px;

                        span {
                            background: linear-gradient(transparent 60%, #FBEE79 30%);
                        }
                    }

                    .list_box::before {
                        content: "1";
                        display: block;
                        position: absolute;
                        top: -20px;
                        left: 10px;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: #fff;
                        border: #E85968 1px dashed;
                        color: #E85968;
                        text-align: center;
                        padding: 5px 0 0;
                    }

                    .list_box:nth-child(2)::before {
                        content: "2";
                    }

                    .list_box:nth-child(3)::before {
                        content: "3";
                    }

                    .list_box::after {
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: -28px;
                        left: 46%;
                        width: 20px;
                        height: 15px;
                        border-top: 12px solid #E85968;
                        border-right: 10px solid transparent;
                        border-left: 10px solid transparent;
                    }

                    .list_box:last-child::after {
                        content: none;
                    }
                }
            }

            .check_box {
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                padding: 30px 30px 30px 60px;
                background-color: #DFF5F9;

                .check_list {
                    position: relative;
                    font-size: 18px;
                }

                .check_list::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 3px;
                    left: -30px;
                    width: 15px;
                    height: 15px;
                    background-color: #EEEEEE;
                    border: #0BA2D1 1px solid;
                }

                .check_list::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -3px;
                    left: -31px;
                    width: 20px;
                    height: 12px;
                    border-bottom: #000 1px solid;
                    border-left: #000 1px solid;
                    transform: rotate(-45deg);
                }
            }
        }

        .type_box.hade_area {
            .ttl {
                background: linear-gradient(transparent 77%, #FFC1C7 20%);
            }

            .main_txt {
                background: linear-gradient(90deg, #FFCACF 0%, #fff 100%);

                span {
                    font-weight: 500;
                    color: #E85968;
                }
            }

            .bg_area {
                padding-bottom: 1px;
                background-image:
                    linear-gradient(-90deg, #FFDADE 5%, transparent 5%),
                    linear-gradient(0deg, #FFDADE 5%, transparent 5%);
            }

            .shiyou_txt_box {
                background-color: #FFDADE;
            }

            .tekiryo {
                background-color: #FFA6AF;
            }

            .sub_txt {
                span {
                    color: #E85968;
                }
            }
        }

        .type_box.aimake_area {
            .ttl {
                background: linear-gradient(transparent 77%, #85D1E8 20%);
            }

            .main_txt {
                background: linear-gradient(90deg, #DFF5F9 0%, #fff 100%);

                span {
                    font-weight: 500;
                    color: #0BA2D1;
                }
            }

            .shiyou_ttl {
                font-size: 1.4em;
                color: #0BA2D1;
                margin-bottom: 10px;
            }

            .bg_area {
                padding-top: 10px;
                background-image:
                    linear-gradient(-90deg, #DAE5F2 5%, transparent 5%),
                    linear-gradient(0deg, #DAE5F2 5%, transparent 5%);
            }

            .sub_txt {
                span {
                    color: #0BA2D1;
                }
            }

            .zu {
                margin-bottom: 20px;
            }

            .use_list {
                .list_box {
                    background-color: #DFF5F9;
                    border: #0BA2D1 1px solid;
                }

                .list_box::before {
                    border-color: #0BA2D1;
                    color: #0BA2D1;
                }

                .list_box:nth-child(4):before {
                    content: "3";
                }

                .list_box::after {
                    border-top: 15px solid #0BA2D1;
                }

                .list_box:nth-child(2):after {
                    bottom: -325px;
                }

                .list_img {
                    margin: -20px auto 0;
                }
            }

            .check_ttl {
                color: #0BA2D1;
            }

            .txt_box {
                background-color: #DFF5F9;
                border-color: #0BA2D1;
            }
        }

        .type_box.nayami_area {
            .ttl {
                background: linear-gradient(transparent 77%, #F5BF80 20%);
            }

            .main_txt {
                background: linear-gradient(90deg, #FFF5E3 0%, #fff 100%);

                span {
                    font-weight: 500;
                    color: #EC7F00;
                }
            }

            .shiyou_ttl {
                font-size: 1.4em;
                color: #EC7F00;
                margin-bottom: 10px;
            }

            .shiyou_txt_box {
                font-size: 1.8em;
                line-height: 32px;
                background-color: #FFF5E3;
            }

            .check_box {
                background-color: #fff;
                border: #EC7F00 1px solid;
            }

            .check_list::before {
                border-color: #EC7F00;
            }

            .bg_area {
                padding-top: 10px;
                background-image:
                    linear-gradient(-90deg, #FCEACA 5%, transparent 5%),
                    linear-gradient(0deg, #FCEACA 5%, transparent 5%);
            }

            .use_list {
                .list_box {
                    background-color: #FFF5E3;
                    border-color: #EC7F00;
                }

                .list_box::before {
                    border-color: #EC7F00;
                    color: #EC7F00;
                }

                .list_box::after {
                    border-top: 15px solid #EC7F00;
                }
            }

            .check_ttl {
                color: #EC7F00;
            }

            .txt_box {
                background-color: #FFF5E3;
                border-color: #EC7F00;
            }
        }
    }

    .nakajima_area {
        .ttl_area {
            padding: 0 20px;

            .nakajima_sub_ttl {
                font-size: 2em;
                line-height: 28px;

                span {
                    padding: 2px;
                }

                span:nth-child(1) {
                    background: linear-gradient(transparent 30%, #FFDADE 50%);
                }

                span:nth-child(2) {
                    background: linear-gradient(transparent 30%, #FFF5E3 50%);
                }

                span:nth-child(3) {
                    background: linear-gradient(transparent 30%, #DFF5F9 50%);
                }

                span:nth-child(4) {
                    background: linear-gradient(transparent 30%, #E3F8F0 50%);
                }

                span:nth-child(5) {
                    font-size: 18px;
                }
            }

            .nakajima_ttl {
                font-size: 3.2em;
                line-height: 45px;
                margin-bottom: 10px;

                span {
                    font-size: 37px;
                }
            }
        }

        .img {
            text-align: center;
            margin-bottom: 70px;
        }
    }

    .nakajima_prf {
        margin: 110px 20px 70px;
        border: #0BA2D1 1px solid;
        padding: 18px 15px;

        .ttl {
            font-size: 1.9em;
            margin-bottom: 16px;

            span {
                font-family: "Helvetica Neue", Helvetica, sans-serif;
                font-weight: bold;
            }
        }

        .txt {
            font-size: 1.6em;
            line-height: 26px;
            text-align: justify;
        }
    }
}



/* アコーディオン */
.aco_area {
    padding: 0 20px;
}

.aco_box {
    margin-bottom: 50px;
}

.aco_box span {
    color: #C90000;
}

.aco_ttl {
    display: inline-block;
    font-size: 1.6em;
    color: #0BA2D1;
    border-bottom: #0BA2D1 1px solid;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.read-more-002 {
    position: relative;
}

.read-more-002 p {
    display: -webkit-box;
    position: relative;
    margin-bottom: 0;
    font-size: 1.8em;
    line-height: 30px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    /* 開く前に見せたい行数を指定 */
}

.read-more-002:has(:checked) p {
    display: block;
}

.read-more-002 p::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .9) 50%, hsla(0, 0%, 100%, .9) 0, #fff);
    content: '';
}

.read-more-002:has(:checked) p::after {
    content: none;
}

.read-more-002 label {
    display: flex;
    align-items: center;
    gap: 0 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    font-size: 1.6em;
}

.read-more-002 label:hover {
    color: #0ba2d1;
    text-decoration: underline;
    cursor: pointer;
}

.read-more-002:has(:checked) label {
    display: none;
}

.read-more-002 label::after {
    display: inline-block;
    width: 10px;
    height: 5px;
    background-color: #b6bdc3;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
}

.read-more-002 input {
    display: none;
}

// アコーディオンここまで




footer {
    background: linear-gradient(#EDEAE7 0%, #FFFFFF 100%);
    padding: 35px 0 10px;

    .footer_area {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .txt {
            font-size: 1.3em;
            margin-bottom: 20px;
        }

        .logo {
            margin-bottom: 40px;
        }

        .copy_light {
            font-family: "Helvetica Neue", Helvetica, sans-serif;
            font-weight: normal
        }

        .top_btn {
            position: relative;
            position: absolute;
            right: 25px;
            bottom: 20px;
            font-size: 1.3em;
            letter-spacing: 4px;
            color: rgba(0, 0, 0, .5);
        }

        .top_btn::before {
            content: "";
            display: block;
            position: absolute;
            top: -40px;
            left: 8px;
            width: 20px;
            height: 20px;
            border-top: 1px rgba(0, 0, 0, .5) solid;
            border-right: 1px rgba(0, 0, 0, .5) solid;
            transform: rotate(45deg);
            animation: scroll 2s infinite;
        }

        .top_btn::after {
            content: "";
            display: block;
            position: absolute;
            top: -50px;
            left: 8px;
            width: 20px;
            height: 20px;
            border-top: 1px rgba(0, 0, 0, .5) solid;
            border-right: 1px rgba(0, 0, 0, .5) solid;
            transform: rotate(45deg);
            animation: scroll 2s infinite;
        }

        @keyframes scroll {
            0% {
                transform: translateY(0) rotate(-45deg);
            }

            50% {
                transform: translateY(10px) rotate(-45deg);
            }

            100% {
                transform: translateY(0) rotate(-45deg);
            }
        }
    }

}